.LoadingTodo-container{
  max-width:90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  box-shadow: 0px 5px 50px rgba(32,35,41,0.15);
  border-radius: 6px;
}

.LoadingTodo-text{
  margin:24px 0 24px 24px;
  max-width: calc(100%-120px);
  font-size: 18px;
  line-height: 24px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.LoadingTodo-completeIcon{
  position: absolute;
  left: 12px;
}

.LoadingTodo-deleteIcon{
  position:absolute;
  top:-24px;
  right: 0;
}
.LoadingTodo-container,
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon{
 background: linear-gradient(90deg,#b4b4b4, #b4b4b4);
 opacity:0.3;
 background-size: 400% 400%;
 animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}


