html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background:	#000000;
  color:white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  z-index: 99;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

